# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# IDEs
.idea/**
.project
.settings
.buildpath
.metadata
Predators Guide.iml
.cproject
